<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>330313773340-s3b25bnbs68fe1fkvsv7u5tu6gpcejo1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330313773340-s3b25bnbs68fe1fkvsv7u5tu6gpcejo1</string>
	<key>API_KEY</key>
	<string>AIzaSyCc0ulAr2h9OmlzJfygJF7Id92kJDp6o6E</string>
	<key>GCM_SENDER_ID</key>
	<string>330313773340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thoughtworks.deferreddeeplink</string>
	<key>PROJECT_ID</key>
	<string>deferred-deeplinking-dem-7b347</string>
	<key>STORAGE_BUCKET</key>
	<string>deferred-deeplinking-dem-7b347.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:330313773340:ios:481d1b7172fc82a1</string>
	<key>DATABASE_URL</key>
	<string>https://deferred-deeplinking-dem-7b347.firebaseio.com</string>
</dict>
</plist>