<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DeeplinkSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A4F64C81D92CECE00FF2B91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A4F64DC1D92CECE00FF2B91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A4F64E71D92CECE00FF2B91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
